{% load index %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, td {
            border: 1px solid;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
</head>
<body>
<img src="{{ image_path }}" alt="Uploaded Image"/>
<table border="1">
    {% for row in table_data %}
        <tr>
            {% for column in table_data.0 %}
                <td>{{ table_data|index:forloop.parentloop.counter0|index:forloop.counter0 }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>